<!-- Desktop and iPad Pro version (lg and up) -->
<div class="hidden lg:block justify-center pb-30 mt-20">
    <div class="lg:text-8xl text-4xl pl-10 w-full font-light lg:pl-40 text-start">
        <span>I'm <span class="text-red-400 cursor-crosshair">Utkarsh</span>,<br>a passionate<br> 
        <span><om-gradient-text [text]="'frontend'"></om-gradient-text></span> & 
        <span class="cursor-crosshair"><om-gradient-text [text]="'AI'"></om-gradient-text></span> developer.</span>
    </div>
</div>

<!-- Other screen devices version (mobile and tablet) -->
<div class="block lg:hidden justify-center pb-10 mt-20">
    <div class="lg:text-8xl text-6xl pl-10 w-full font-light lg:pl-40 text-start">
        <span>I'm <span class="text-red-400 cursor-crosshair">Utkarsh</span>,<br>a passionate 
        <span><om-gradient-text [text]="'frontend'"></om-gradient-text></span> & 
        <span class="cursor-crosshair"><om-gradient-text [text]="'AI'"></om-gradient-text></span> developer.</span>
    </div>
</div>