<div class="px-4 sm:px-6 lg:pl-42 pt-8 sm:pt-12 lg:pt-20 w-full">
    <h2 class="flex items-center gap-3 text-3xl sm:text-4xl lg:text-5xl font-light mb-6 sm:mb-8">Projects
        <a href="https://github.com/UtkarshKushwaha1" target="_blank" rel="noopener noreferrer"
       class="hover:opacity-80 transition-opacity">
      <img 
        src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/github/github-original.svg" 
        alt="GitHub" 
        class="w-8 h-8 sm:w-9 sm:h-9 lg:w-10 lg:h-10"
      />
    </a>
    </h2>
    
    <div class="max-w-full lg:w-[60lvw] pt-2 lg:pl-24">
        <section class="bg-white rounded-lg p-4 sm:p-6 lg:pt-4 lg:pl-8 w-full mx-auto mt-6 sm:mt-8 lg:mt-10">
            <h2 class="text-2xl sm:text-3xl lg:text-4xl font-light mb-3 sm:mb-4">
                <om-gradient-text [text]="'UPSC Quest'"></om-gradient-text>
            </h2>
            
            <p class="text-gray-700 mb-4 sm:mb-6 text-base sm:text-lg leading-relaxed">
                A user-friendly <span class="font-medium text-red-400">React</span> web app that helps UPSC aspirants prepare for Prelims by providing a categorized collection of authentic past questions.
                Easily analyze exam trends, focus practice by topic and year, and study high-frequency subjects with a fast, interactive interface.
            </p>
            
            <div class="mb-4 sm:mb-6">
                <om-highlighter color="oklch(96.2% 0.059 95.617)" [animationDuration]="1000">
                    <h3 class="text-lg sm:text-xl font-extralight mb-2 sm:mb-3">Key Features</h3>
                </om-highlighter>
                
                <ul class="list-disc list-inside text-gray-700 space-y-1 sm:space-y-2 text-sm sm:text-base lg:text-lg ml-2 sm:ml-0">
                    <li>Categorized repository of UPSC Prelims questions by topic and year</li>
                    <li>Analyze exam trends and the frequency of topics</li>
                    <li>Efficient practice using real questions from previous exams</li>
                    <li>Modern, responsive interface built with React</li>
                </ul>
            </div>
            
            <div class="flex flex-col sm:flex-row sm:flex-wrap items-start sm:items-center gap-3 sm:gap-4 pt-2 sm:pl-4">
                <div>
                    <span class="inline-block text-red-600 px-2 sm:px-3 py-1 font-medium text-xs sm:text-sm bg-red-50 rounded">
                        Tech Stack: React
                    </span>
                </div>
                <div>
                    <a href="https://upscquestion.com/" 
                       target="_blank" 
                       rel="noopener noreferrer"
                       class="inline-block bg-red-500 text-white px-3 sm:px-4 py-2 rounded-full font-semibold text-sm sm:text-base hover:bg-red-600 transition duration-150 ease-in-out">
                        Check - It's live!
                    </a>
                </div>
            </div>
        </section>
    </div>
</div>