.intro{
  color: white;
  display: flex;
  flex-direction: column;
  margin-left: 12%;
  margin-top: 10%;
}

.hi-utkarsh{
  font-size: 4rem; /* 36px */
  line-height: 2.5rem; /* 40px */
  padding-bottom: 50px;
}

.buttons{
  display: flex;
  flex-direction: row;
  gap: 2rem;
  padding-top: 50px;
}

.cv-dowload-button{
  // background-color: rgb(7, 186, 186);
  color: black;
  width: 150px;
  text-align: center;
  // height: 25px;
  border-radius: 20px;
}
